[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "tap_probe"
variable_cartographer_survey_randomise_tap: 5 #(in mm)
gcode:

# TAP probe definition also include the probe management macro directly from here
[include ../../../macros/base/probing/generic_probe.cfg]

[cartographer]
mcu: cartographer
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
#x_offset: 0
#    adjust for your cartographers offset from nozzle to middle of coil
#y_offset: 15
#    adjust for your cartographers offset from nozzle to middle of coil
#backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.

[cartographer touch]
samples: 3
#   The number of samples to use when doing a touch.
#   The default is 3.
max_samples: 10
#   The maximum number of samples to do before giving up.
#   The default is samples * 2, but minimum 10.
sample_range: 0.01
retract_distance: 5
#    Retract distance between touch samples
#    The default is 2.
#UNSAFE_max_touch_temperature: 150
#   The maximum allowed nozzle temperature to use when touching the plate.
#   This is set to 150C to avoid damaging your plate.
#   Change this AT YOUR OWN RISK.
#   The default is 150C.
EXPERIMENTAL_home_random_radius: 15
#    Radius around the Z home position to do touch.

[stepper_z]
endstop_pin: probe:z_virtual_endstop # use cartographer as virtual endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0

# special start module for z calibrating

[gcode_macro _CARTOGRAPHER_Z_CALIB]
description: Perform the Z calibration using the cartographer survey
gcode:
    #folling instruction of carto survey
    # move to tap location and probe_calibrate
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
    {% set sheet = printer.save_variables.variables.sheet|default('textured')|string|replace('"','') %}


    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="CALIBRATING_Z"
    {% endif %}

    RESPOND MSG="Starting Z calibration for {sheet} sheet and {material} material"
    {% if material in ['PLA','PCTG','TPU'] %}
        RESPOND MSG="Loading cartographer model cold for {sheet} sheet and {material} material"
        CARTOGRAPHER_TOUCH_MODEL LOAD='{sheet}-cold'
    {% elif material in ['PETG','ABS','ASA'] %}
        RESPOND MSG="Loading cartographer model hot for {sheet} sheet and {material} material"
        CARTOGRAPHER_TOUCH_MODEL LOAD='{sheet}-hot'
    {% endif %}

    {% if verbose %}
        RESPOND MSG="Auto Z calibration..."
    {% endif %}
        
    {% if not 'xyz' in printer.toolhead.homed_axes %}
        { action_raise_error("Must Home printer first!") }
    {% endif %}

    {% if verbose %}
        { action_respond_info("Probe calibrate") }
    {% endif %}

    #Calibrate probe
    CARTOGRAPHER_TOUCH_HOME

    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="READY"
    {% endif %}
